blue = #193549
yellow  = #FFE200

@import '_normalize'

h1,h2,h3,h4,h5, h6
  font-family oswald, sans-serif
  font-weight normal
  margin 0

html
  font-size 10px

h1
  font-size 5rem

p
  font-size 1.8rem

img
  max-width 100%
h1
  text-transform uppercase
  letter-spacing 2px
  display inline-block
  text-shadow 2px 2px 0 darken(blue, 20%)
  border-bottom 2px solid yellow
  padding-bottom 2rem
  margin-bottom 2rem
  // &:after
  //   content : ''
  //   display block
  //   height 0.5rem
  //   background yellow

  a
    color white
    text-decoration none
    padding 10px

video.term
  width 60rem
  box-shadow 0 0 4px darken(blue, 10%)
  border-radius 4px
  display block
  margin 0 auto -5rem auto

header.top
  background blue
  border-top 1.5rem solid darken(blue, 20%)
  text-align center
  color white
  padding 2rem
  margin-bottom 5rem


ul.video-list
  list-style none
  padding 0
  display flex
  flex-direction row
  flex-wrap wrap
  max-width 120rem
  margin 0 auto
  counter-reset video
  li
    width 50%
    margin-bottom 2rem
    counter-increment video
    position relative
    &:before
      content counter(video, decimal-leading-zero)
      position absolute
      color white
      background black
      padding 10px
      color yellow
    img
      float left
      max-width 250px
      margin-right 1rem


.video-title
  font-size 2rem
  margin 0
  text-transform uppercase
  // color yellow

.video
  p
    margin-top 0
    line-height 1.8


section.deets
  text-align center
  border-bottom 1px solid grey
  margin-bottom 4rem
  p
    font-size 2.5rem

