<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(rel="stylesheet", href="css/style.css")
  title Command Line Power User
body
  block content
  script(src="scripts.js")
