<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
  link(rel="stylesheet", href="css/style.css")
  title Command Line Power User
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(property="og:image" content="http://commandlinepoweruser.com/images/share.png")
  meta(property="og:title" content="Command Line Power User Video Series")
  meta(property="og:type" content="website")
  meta(property="og:url" content="http://CommandLinePowerUser.com")
  meta(property="og:site_name" content="Command Line Power User")
  meta(property="og:description" content="A free video series for web developers on learning a modern command line workflow with ZSH, Z and related tools.")
  meta(name="twitter:card" content="photo")
  meta(name="twitter:site" content="@wesbos")
  meta(name="twitter:creator" content="@wesbos")
  meta(name="twitter:title" content="Command Line Power User Video Series")
  meta(name="twitter:description" content="A free video series for web developers on learning a modern command line workflow with ZSH, Z and related tools.")
  meta(name="twitter:image" content="http://commandlinepoweruser.com/images/share.png")
  meta(name="twitter:url" content="http://CommandLinePowerUser.com")

  //- Icons
  link(rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon")
  link(rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png")
  link(rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16")
  link(rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96")
  link(rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png" sizes="192x192")
  meta(name="msapplication-square70x70logo" content="/images/icons/smalltile.png")
  meta(name="msapplication-square150x150logo" content="/images/icons/mediumtile.png")
  meta(name="msapplication-wide310x150logo" content="/images/icons/widetile.png")
  meta(name="msapplication-square310x310logo" content="/images/icons/largetile.png")

body
  block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="https://apis.google.com/js/platform.js" async defer)
  script(src="js/all.js")
